[user]
	name = Aron Jones
	email = aron.jones@gmail.com

[alias]
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[color]
	ui = true
[push]
	default = upstream
[core]
	autocrlf = input
	safecrlf = true
[credential]
	helper = cache
